.photoVideoTop {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  overflow: hidden;

  .photoVideoTop__title {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 20vw;
    color: var(--primary-color);
    -webkit-text-stroke: 3px var(--primary-color);
    font-weight: bold;
    font-family: $font_base;
    line-height: 15vh;
    opacity: 0;
    z-index: 0;
  }
  .photoVideoTop__title_front {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 20vw;
    color: var(--primary-color);
    -webkit-text-stroke: 3px var(--primary-color);
    font-weight: bold;
    font-family: $font_base;
    line-height: 15vh;
    opacity: 0;
    z-index: 2;
  }
  .container_photoVideoTop_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 30%;
    background-color: var(--primary-color);
    border-radius: 1vw;
    overflow: hidden;
    z-index: 1;

    .photoVideoTop_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.feed {
  position: relative;
  width: 100%;
  height: 295vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  .container_feed_col {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 130%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    .col {
      position: relative;
      flex: 1;
      height: auto;
      // background-color: red;

      display: flex;
      flex-direction: column;
      align-items: center;

      .container_img {
        position: relative;
        width: 22vw;
        height: 31vw;
        border-radius: 1.5vw;
        overflow: hidden;
        // background-color: white;
        margin-bottom: 3vw;

        .miniatures {
          position: absolute;
          bottom: 0%;
          left: 50%;
          transform: translate(-50%, 0%);
          width: 100%;
          height: 150%;
          object-fit: cover;
        }
      }
    }
    .col1,
    .col2,
    .col3,
    .col4,
    .col5 {
      .container_img {
        &:first-child {
          // before gradient top
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30vh;
            background: linear-gradient(
              to top,
              rgba(255, 255, 255, 0) 30%,
              rgba(255, 255, 255, 0.651)
            );
            z-index: 10;
          }
        }
      }
    }
  }
}

.see_more_album {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow: hidden;
  transition: background-color 1s cubic-bezier(0.81, 0, 0.4, 0.99);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: linear-gradient(to top, var(--white), transparent);
    z-index: 1;
  }

  .album_stroke_green_circle1 {
    cursor: pointer;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 0.3vw solid var(--white);
    z-index: 4;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: $font_base;
    font-size: 4vw;
    padding-top: 1vh;
    opacity: 0;
    transition: transform 1s cubic-bezier(0.81, 0, 0.4, 0.99);
  }
  .album_stroke_green_circle1_active {
    transform: translate(-50%, -50%) scale(1.2);
  }
  .album_stroke_green_circle2 {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 0.3vw solid var(--primary-color);
    z-index: 3;
    opacity: 0;
  }
  .album_stroke_green_circle3 {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 0.3vw solid var(--primary-color);
    z-index: 2;
    opacity: 0;
  }
  .album_stroke_green_circle4 {
    position: absolute;
    top: -50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 0.3vw solid var(--primary-color);
    z-index: 1;
    opacity: 0;
  }
  .album_transition_title {
    width: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14vw;
    font-weight: bold;
    color: var(--primary-color);
    font-family: Base Neue;
    line-height: 20vh;
    text-align: center;
    z-index: 0;
    line-height: 35vh;
    letter-spacing: 5vw;
    opacity: 0;
    transition: color 1s cubic-bezier(0.81, 0, 0.4, 0.99);
    z-index: 1;
  }
  .album_transition_title_active {
    color: var(--white);
  }
}
.see_more_album_active {
  background-color: var(--primary-color);
}
//-----------------responsive------------------------------------------

@media screen and (max-width: 1124px) {
}
//-----------------responsive------------------------------------------

@media screen and (max-width: 780px) {
  .photoVideoTop {
    .photoVideoTop__title_front {
      width: 200%;
      font-size: 40vw;
      line-height: 5vh;
      -webkit-text-stroke: 1px var(--primary-color);
    }
    .photoVideoTop__title {
      width: 200%;
      font-size: 40vw;
      line-height: 5vh;
      -webkit-text-stroke: 1px var(--primary-color);
    }
    .container_photoVideoTop_img {
      height: 60%;
    }
  }
  .feed {
    height: 155vh;
    .container_feed_col {
      width: 191%;
      .col {
        .container_img {
          width: 35vw;
          height: 48vw;
        }
      }
    }
  }
  .see_more_album {
    .album_transition_title {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 26vw;
      font-weight: bold;
      color: var(--primary-color);
      font-family: Base Neue;
      line-height: 20vh;
      text-align: center;
      z-index: 0;
      line-height: 12vh;
      letter-spacing: 5vw;
      opacity: 0;
      transition: color 1s cubic-bezier(0.81, 0, 0.4, 0.99);
      z-index: 1;
    }
  }
}
