.administration {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;

  h1 {
    font-size: 8vw;
    color: var(--black);
    font-family: $font-base;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }
  h2 {
    font-size: 2.5vw;
    color: var(--black);
    font-family: $font-base;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5vh;
    transition: color 0.2s ease-in-out;
  }

  section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 4vh;
    .theme_photo {
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .card_photo {
        position: relative;
        width: 18vw;
        height: 18vw;
        display: flex;
        border-radius: 1.5vw;
        overflow: hidden;
        border: 0.5vw solid transparent;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.5s ease;
        z-index: 0;

        .theme_img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.1);
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
        }
        .theme_titre {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: color 0.5s ease-out, font-size 1s ease-out;
          color: var(--white);
          font-size: 2.5vw;
          font-family: $font-base;
          text-align: center;
          text-transform: uppercase;
          z-index: 1;
        }
        &:hover {
          background-color: var(--white);
          color: var(--black);
        }

        h3 {
          font-size: 2.5vw;
          color: var(--white);
          font-family: $font-base;
          text-align: center;
          text-transform: uppercase;
        }

        &:hover {
          border: 0.5vw solid var(--primary-color);
        }
        &:hover .theme_titre {
          color: var(--primary-color);
          font-size: 3vw;
        }
        &:hover img {
          opacity: 0.7;
          transform: translate(-50%, -50%) scale(1);
        }
      }
      .spe {
        background-color: var(--primary-color);
      }
    }

    .boites_messages {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 4vh;
      .boite {
        font-family: $font_sf;
        color: var(--white);
        padding: 1vw;
        border-radius: 0.5vw;
        width: 100%;
        border: 0.2vw solid var(--primary-color);
        background-color: var(--primary-color);

        h3 {
          margin-bottom: 2vh;
          font-size: 1.5vw;
        }

        .message {
          width: 100%;
          padding: 0.5vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--white);
          color: var(--black);
          font-size: 0.8vw;
          font-weight: normal;
          border-radius: 0.3vw;

          p {
            font-family: $font_sf;
          }

          .container_message {
            width: 30%;
          }
        }
      }
    }
  }

  .spe {
    column-gap: 2vw;
    justify-content: center;
  }
  .retour {
    margin-top: 3vh;
    background-color: var(--primary-color);
    color: var(--white);
    border: 0.2vw solid var(--primary-color);
    border-radius: 0.4vw;
    padding: 1vh 3vw;
    font-size: 1.3vw;
    font-family: $font-base;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: transparent;
      color: var(--primary-color);
      border: 0.2vw solid var(--primary-color);
    }
  }
}

//-----------------responsive------------------------------------------

@media screen and (max-width: 1124px) {
  .administration {
    h1 {
      font-size: 11vw;
    }
    h2 {
      font-size: 4.5vw;
    }
    .theme_photo {
      row-gap: 1vh;
      .card_photo {
        width: 39.5vw;
        height: 23vw;
        border: 0.6vw solid transparent;
        .theme_titre {
          font-size: 4.5vw;
        }
        &:hover {
          border: 0.6vw solid var(--primary-color);
        }
        &:hover .theme_titre {
          font-size: 5vw;
        }
      }
    }
  }
}

//-----------------responsive------------------------------------------

@media screen and (max-width: 780px) {
  .administration {
    padding-top: 10vh;
    height: auto;
    h1 {
      font-size: 13vw;
    }
    h2 {
      font-size: 5vw;
    }
    .theme_photo {
      row-gap: 1vh;
      .card_photo {
        border-radius: 2.5vw;
        width: 80vw;
        height: 40vw;
        border: 0.8vw solid transparent;
        .theme_titre {
          font-size: 10vw;
        }
        &:hover {
          border: 0.8vw solid var(--primary-color);
        }
        &:hover .theme_titre {
          font-size: 11vw;
        }
      }
    }
  }
}
