.contact_page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  .container_formulaire {
    background-color: #fcfcfc;
    width: 38vw;
    height: auto;
    padding: 3vw;
    border-radius: 2vw;
    margin: 15vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
    row-gap: 4vh;

    .entete {
      width: 100%;
      font-size: 2.5vw;
      color: #232323;
      font-family: $font-base;
      text-align: center;
    }

    form {
      width: 100%;
      row-gap: 2vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .erreur {
        color: red;
        font-size: 0.8vw;
        font-family: $font-sf;
      }
      input,
      textarea {
        outline: none;
      }

      .identite {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .prenom,
        .nom {
          width: 47%;
          height: 3.5vw;
          border: 0.25vw solid #232323;
          border-radius: 0.7vw;
          padding: 0 1vw;
          background-color: #fcfcfc;
          font-family: $font-sf;
          font-size: 0.8vw;
        }
      }
      .email {
        width: 100%;
        height: 3.5vw;
        border: 0.25vw solid #232323;
        background-color: #fcfcfc;
        border-radius: 0.7vw;
        padding: 0 1vw;
        font-family: $font-sf;
        font-size: 0.8vw;
      }
      .theme {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1vw;

        .option_contact {
          cursor: pointer;
          width: 47%;
          height: 3vw;
          border: 0.25vw solid #232323;
          background-color: #fcfcfc;
          color: #232323;
          border-radius: 0.7vw;
          padding: 0 1vw;
          font-weight: bold;
          font-family: $font-base;
          font-size: 1.2vw;
          letter-spacing: 0.05vw;
          transition: all 0.2s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s ease-in-out;
        }
        input[type="radio" i] {
          display: none;
        }
        #option-1_contact:checked:checked ~ .option-1_contact,
        #option-2_contact:checked:checked ~ .option-2_contact {
          border: 0.25vw solid #232323;
          background-color: #232323;
          color: #fcfcfc;
        }
        .choix {
          cursor: pointer;
          width: 47%;
          height: 4.5vh;
          border: 0.25vw solid #232323;
          background-color: #fcfcfc;
          color: #232323;
          border-radius: 0.7vw;
          padding: 0 1vw;
          font-weight: bold;
          font-family: $font-base;
          font-size: 1.2vw;
          letter-spacing: 0.05vw;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #232323;
            color: #fcfcfc;
          }

          &:focus {
            background-color: #fcfcfc;
            color: #232323;
          }
          &:active {
            background-color: #fcfcfc;
            color: #232323;
          }
        }
      }
      .message {
        width: 100%;
        height: 17vw;
        background-color: #fcfcfc;
        border: 0.25vw solid #232323;
        border-radius: 0.7vw;
        padding: 2vh 1vw;
        font-family: $font-sf;
        font-size: 0.8vw;
      }
      .envoyer {
        cursor: pointer;
        width: 47%;
        height: 3.5vw;
        border: 0.25vw solid #232323;
        background-color: #232323;
        border-radius: 0.7vw;
        padding: 0 1vw;
        color: #fcfcfc;
        font-weight: bold;
        font-size: 1vw;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #fcfcfc;
          color: #232323;
        }
      }
    }
  }
}
//-----------------responsive------------------------------------------

@media screen and (max-width: 1600px) {
  .contact_page {
    .container_formulaire {
      width: 65vw;
      .entete {
        font-size: 3vw;
      }
      form {
        .erreur {
          font-size: 1vw;
        }
        .identite {
          .nom,
          .prenom {
            font-size: 1.1vw;
            border: 0.35vw solid #232323;
            height: 4.5vw;
          }
        }

        .email {
          font-size: 1.1vw;
          border: 0.35vw solid #232323;
          height: 4.5vw;
        }
        .theme {
          .option_contact {
            cursor: pointer;
            font-size: 1.8vw;
            border: 0.35vw solid #232323;
            height: 4vw;
          }
        }
        .message {
          padding: 2vh 1vw;
          font-size: 1.1vw;
          border: 0.35vw solid #232323;
        }
        .envoyer {
          border: 0.35vw solid #232323;
          font-size: 1.7vw;
          height: 4.5vw;
        }
      }
    }
  }
}
//-----------------responsive------------------------------------------

@media screen and (max-width: 1124px) {
  .contact_page {
    .container_formulaire {
      width: 75vw;
      .entete {
        font-size: 4vw;
      }
      form {
        .erreur {
          font-size: 1.3vw;
        }
        .identite {
          .nom,
          .prenom {
            height: 6vw;
            font-size: 1.5vw;
            border: 0.5vw solid #232323;
          }
        }

        .email {
          height: 6vw;
          font-size: 1.5vw;
          border: 0.5vw solid #232323;
        }
        .theme {
          .option_contact {
            cursor: pointer;
            font-size: 2vw;
            border: 0.5vw solid #232323;
            height: 5vw;
          }
        }
        .message {
          height: 25vw;
          padding: 2vh 1vw;
          font-size: 1.5vw;
          border: 0.5vw solid #232323;
        }
        .envoyer {
          height: 6vw;
          border: 0.5vw solid #232323;
          font-size: 2vw;
        }
      }
    }
  }
}

//-----------------responsive------------------------------------------

@media screen and (max-width: 780px) {
  .contact_page {
    .container_formulaire_bg {
      display: none;
    }
    .container_formulaire {
      width: 95vw;
      box-shadow: none;
      background-color: transparent;
      .entete {
        font-size: 10vw;
        color: var(--white);
      }
      form {
        width: 90%;
        .erreur {
          font-size: 2vw;
        }
        .identite {
          flex-direction: column;
          row-gap: 1vh;

          .nom,
          .prenom {
            height: 10vw;
            width: 100%;
            font-size: 3vw;
            padding: 0 3vw;
            border-radius: 1.5vw;
            border: 0.8vw solid var(--white);
          }
        }
        .email {
          height: 10vw;
          font-size: 3vw;
          padding: 0 3vw;
          border-radius: 1.5vw;
          border: 0.8vw solid var(--white);
        }
        .theme {
          .option_contact {
            cursor: pointer;
            border: 0.8vw solid var(--white);
            background-color: var(--primary-color);
            color: var(--white);
            border-radius: 1.2vw;
            font-size: 3.5vw;
            height: 9vw;
          }
          #option-1_contact:checked:checked ~ .option-1_contact,
          #option-2_contact:checked:checked ~ .option-2_contact {
            border: 0.8vw solid var(--white);
            background-color: var(--white);
            color: #232323;
          }
        }
        .message {
          height: 40vw;
          font-size: 3vw;
          padding: 2vh 1vw;
          border-radius: 1.5vw;
          border: 0.8vw solid var(--white);
        }
        .envoyer {
          height: 10vw;
          border: 0.8vw solid var(--white);
          border-radius: 1.5vw;
          font-size: 4vw;
          background-color: transparent;
        }
      }
    }
  }
}
