.cursor_follow {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 50%;
  z-index: 99999999999999999999999999999999;
  pointer-events: none;
  transition: width 0.15s ease-out, height 0.15s ease-out;
  box-shadow: 0px 0px 15px 0px var(--primary-color);
}
@media screen and (max-width: 780px) {
  .cursor_follow {
    display: none;
  }
}
