footer {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .reseaux {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5vw;
        font-weight: bold;
        font-family: $font_base;
        color: #fcfcfc;
        margin-bottom: 2vh;
      }
      .logo_reseaux {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          margin-right: 1vw;
          width: 2vw;
          height: 2vw;
          background-color: #fcfcfc;
          border-radius: 0.5vw;

          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: #232323;
            border: 3px solid #fcfcfc;
          }
          &:hover svg path {
            fill: #fcfcfc;
          }

          svg {
            width: 80%;
            transition: 0.2s ease-in-out;
            path {
              fill: #232323;
              transition: 0.2s ease-in-out;
            }
          }
        }
      }
    }
    .site {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5vw;
        font-weight: bold;
        font-family: $font_base;
        color: #fcfcfc;
        margin-bottom: 2vh;
      }
      a {
        font-size: 1vw;
        font-family: $font_sf;
        letter-spacing: 0.1vw;
        text-decoration: none;
        color: #fcfcfc;
      }
    }
    .photo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5vw;
        font-weight: bold;
        font-family: $font_base;
        color: #fcfcfc;
        margin-bottom: 2vh;
      }
      a {
        font-size: 1vw;
        font-family: $font_sf;
        letter-spacing: 0.1vw;
        text-decoration: none;
        color: #fcfcfc;
      }
    }
  }

  .copyright {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

    p {
      font-size: 1vw;
      font-family: $font_sf;
      letter-spacing: 0.2vw;
      text-decoration: none;
      font-weight: bold;
      color: #fcfcfc;
    }
  }
}
