.contact {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.041);

  h1 {
    font-size: 6vw;
    font-weight: bold;
    font-family: $font_base;
    color: var(--white);
    margin: 0 3vw;
    z-index: 11;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.132));
  }

  .lien_contact {
    margin-top: 10vh;
    padding: 1.5vh 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.5vw;
    font-size: 1.2vw;
    letter-spacing: 0.3vw;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
    font-family: $font_base;
    border: 0.2vw solid var(--white);
    transition: 0.3s ease-in-out;

    &:hover {
      border: 0.2vw solid var(--white);
      background-color: var(--primary-color);
      color: var(--white);
    }
  }
}
footer {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .reseaux {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5vw;
        font-weight: bold;
        font-family: $font_base;
        color: #fcfcfc;
        margin-bottom: 2vh;
      }
      .logo_reseaux {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          margin-right: 1vw;
          width: 2vw;
          height: 2vw;
          background-color: #fcfcfc;
          border-radius: 0.5vw;

          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: #232323;
            border: 3px solid #fcfcfc;
          }
          &:hover svg path {
            fill: #fcfcfc;
          }

          svg {
            width: 80%;
            transition: 0.2s ease-in-out;
            path {
              fill: #232323;
              transition: 0.2s ease-in-out;
            }
          }
        }
      }
    }
    .site {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5vw;
        font-weight: bold;
        font-family: $font_base;
        color: #fcfcfc;
        margin-bottom: 2vh;
      }
      a {
        font-size: 1vw;
        font-family: $font_sf;
        letter-spacing: 0.1vw;
        text-decoration: none;
        color: #fcfcfc;
      }
    }
    .photo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 1.5vw;
        font-weight: bold;
        font-family: $font_base;
        color: #fcfcfc;
        margin-bottom: 2vh;
      }
      a {
        font-size: 1vw;
        font-family: $font_sf;
        letter-spacing: 0.1vw;
        text-decoration: none;
        color: #fcfcfc;
      }
    }
  }

  .copyright {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

    p {
      font-size: 1vw;
      font-family: $font_sf;
      letter-spacing: 0.2vw;
      text-decoration: none;
      font-weight: bold;
      color: #fcfcfc;
    }
  }
}

//-----------------responsive------------------------------------------

@media screen and (max-width: 780px) {
  .contact {
    h1 {
      font-size: 11vw;
    }
    .lien_contact {
      margin-top: 10vh;
      padding: 1.5vh 6vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);
      border-radius: 1vw;
      font-size: 5vw;
      letter-spacing: 0.3vw;
      font-weight: bold;
      text-decoration: none;
      color: var(--primary-color);
      font-family: Base Neue;
      border: 0.5vw solid var(--white);
      transition: 0.3s ease-in-out;

      &:hover {
        border: 0.5vw solid var(--white);
        background-color: var(--primary-color);
        color: var(--white);
      }
    }
  }

  footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;

    .info {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      row-gap: 6vh;

      .reseaux,
      .site,
      .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 5vw;
        }
      }
      .reseaux {
        .logo_reseaux {
          column-gap: 4vw;
          a {
            margin-right: 0;
            width: 6vw;
            height: 6vw;
            background-color: #fcfcfc;
            border-radius: 0.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease-in-out;
          }
        }
      }
      .site,
      .photo {
        a {
          font-size: 3vw;
        }
      }
    }
    .copyright p {
      font-size: 2vw;
    }
  }
}
