.galerie_web_page {
  position: relative;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding-top: 15vh;
  //   box-shadow: 0px 0px 10px 5px black;
  transition: background-color 0.2s ease-in-out;

  img {
    pointer-events: none;
  }

  h1 {
    font-size: 6vw;
    font-family: $font_base;
    font-weight: bold;
    color: var(--black);
    margin: 5vh 0;
    z-index: 2;
    text-transform: uppercase;
  }

  .container_galerie_top {
    position: relative;
    width: 85%;

    .galerie_portrait {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 4vh;

      &::before {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 120%;
        height: 20vh;
        background: linear-gradient(180deg, var(--white), transparent);
        z-index: 1;
        transition: all 0.2s ease-in-out;
      }

      .container_img {
        position: relative;
        width: 18vw;
        height: 25vw;
        border-radius: 0.5vw;
        overflow: hidden;
        margin-bottom: 3vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        transition: 0.5s ease-in-out;

        .miniatures {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.1);
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.5s ease-in-out;
        }
        &:hover {
          transform: scale(1.02);
        }
        &:hover .miniatures {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    .galerie_paysage {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .container_img {
        position: relative;
        width: 40.2vw;
        height: 25vw;
        margin-bottom: 3vw;
        background-color: var(--white);
        border-radius: 0.5vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        overflow: hidden;
        transition: 0.5s ease-in-out;

        .miniatures {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.05);
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.5s ease-in-out;
        }

        &:hover {
          transform: scale(1.02);
        }
        &:hover .miniatures {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    .texte_galerie {
      width: 100%;
      text-align: center;
      font-size: 2vw;
      font-family: $font_base;
      color: var(--black);
      font-style: italic;
      margin-bottom: 20vh;
    }

    .texte_galerie2 {
      width: 100%;
      text-align: center;
      font-size: 2vw;
      font-family: $font_base;
      color: var(--black);
      font-style: italic;
      margin: 20vh 0;
    }

    .galerie_first {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10vh;
      overflow: hidden;
      transition: all 0.2s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20vh;
        background: linear-gradient(180deg, var(--white), transparent);
        z-index: 1;
        transition: all 0.2s ease-in-out;
      }

      .col {
        width: 18vw;

        .container_img {
          position: relative;
          width: 18vw;
          height: 25vw;
          border-radius: 1vw;
          overflow: hidden;
          margin-bottom: 3vw;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

          .miniatures {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 100%;
            height: 150%;
            object-fit: cover;
          }
        }
      }
    }

    .galerie_large {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 10vh;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      row-gap: 5vh;
      padding: 1vh 0;

      .container_img_100 {
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: var(--white);
        border-radius: 1vw;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .miniatures {
          position: absolute;
          bottom: 0%;
          left: 50%;
          transform: translate(-50%, 0%);
          width: 100%;
          height: 150%;
          object-fit: cover;
        }
      }
      .container_img_flex {
        position: relative;
        width: 100%;
        height: 40vh;
        border-radius: 1vw;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .container_img_50 {
          position: relative;
          width: 49%;
          height: 100%;
          background-color: var(--white);
          border-radius: 1vw;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          overflow: hidden;

          .miniatures {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 100%;
            height: 150%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .container_galerie_bottom {
    position: relative;
    width: 100%;
    height: 100vh;

    .container_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
      border-radius: 0.5vw;
      overflow: hidden;

      .miniatures {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 150%;
        object-fit: cover;
      }
    }
  }

  .autres_projets {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;

    h2 {
      font-size: 4vw;
      font-weight: 600;
      margin-bottom: 2vw;
      font-family: $font-base;
      color: var(--black);
    }

    .suggestion {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 4vh;

      .suggestion_top,
      .suggestion_bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .container_miniatures {
          cursor: pointer;
          position: relative;
          width: 48%;
          height: 15vw;
          border-radius: 1.5vw;
          overflow: hidden;
          border: 0.5vw solid transparent;
          // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          //   rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          transition: 0.3s ease-in-out;

          .titre_minia {
            position: absolute;
            bottom: 0%;
            left: 0%;
            margin: 1vh 1vw;

            font-size: 3vw;
            font-family: $font-base;
            font-weight: 600;
            color: #fcfcfc;
            z-index: 2;
          }
          .miniatures {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 100%;
            height: 150%;
            object-fit: cover;
            z-index: 1;
            transition: opacity 0.3s ease-in-out;
          }

          &:hover {
            border: 0.5vw solid var(--primary-color);
          }
          &:hover img {
            opacity: 0.8;
          }
        }
      }
      .suggestion_bottom {
        justify-content: center;
      }
    }
  }

  .information_supplementaire {
    position: relative;
    width: 100%;
    background-color: var(--black);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;

    .container_information_supplementaire {
      position: relative;
      width: 80%;
      background-color: var(--black);
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .setup,
      .video {
        position: relative;
        height: 50vh;
        width: 48%;
        border-radius: 1.5vw;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      }

      .setup {
        background-color: var(--white);

        h4 {
          font-size: 4vw;
          font-weight: 600;
          font-family: $font-base;
          color: var(--primary-color);
          margin-bottom: 1vw;
        }
        .specialite {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          row-gap: 3vh;
          .spe {
            line-height: 0.5vh;
            h5 {
              font-size: 1.1vw;
              font-weight: 600;
              font-family: $font-sf;
              color: var(--black);
              margin-bottom: 1vw;
            }
            p {
              font-size: 1.1vw;
              font-weight: 400;
              font-family: $font-sf;
              color: var(--black);
              margin-bottom: 1vw;
            }
          }
        }
      }
      .video {
        background-color: var(--primary-color);

        h4 {
          font-size: 4vw;
          font-weight: 600;
          font-family: $font-base;
          color: var(--white);
          margin-bottom: 1vw;
        }

        a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          width: 10vw;
          transition: width 0.2s ease-in-out;

          &:hover {
            width: 11vw;
          }

          .play {
            width: 100%;

            path {
              fill: var(--white);
            }
          }
        }
      }
    }
  }
}

//-----------------responsive------------------------------------------

@media screen and (max-width: 780px) {
  .galerie_web_page {
    h1 {
      font-size: 12vw;
    }
    .container_galerie_top .galerie_first {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 10vh;
      overflow: hidden;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      flex-direction: column;

      .col {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container_img {
          position: relative;
          width: 80vw;
          height: 111vw;
          border-radius: 3vw;
          overflow: hidden;
          margin-bottom: 3vh;
          -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
      }
    }
    .container_galerie_top {
      .texte_galerie {
        width: 100%;
        text-align: justify;
        font-size: 5vw;
        font-family: Base Neue;
        color: var(--black);
        font-style: italic;
        margin-bottom: 27vh;
      }
      .galerie_large {
        .container_img_100 {
          position: relative;
          width: 100%;
          height: 20vh;
          background-color: var(--white);
          border-radius: 1vw;
          overflow: hidden;
          -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
        .container_img_flex {
          position: relative;
          width: 100%;
          height: 30vh;
          border-radius: 1vw;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
      }
      .texte_galerie2 {
        width: 100%;
        text-align: justify;
        font-size: 5vw;
        font-family: Base Neue;
        color: var(--black);
        font-style: italic;
        margin-bottom: 27vh;
      }
    }
    .container_slider_galerie {
      .travel_front,
      .travel_back {
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 33vw;
        line-height: 0vh;
      }
      .slider_galerie_top .container_img,
      .slider_galerie_bottom .container_img {
        position: relative;
        width: 60vw;
        height: 49vh;
      }
    }

    .container_galerie_bottom {
      position: relative;
      width: 100%;
      height: 100vh;

      .container_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;
        border-radius: 5vw;
        overflow: hidden;

        .miniatures {
          position: absolute;
          bottom: 0%;
          left: 50%;
          transform: translate(-50%, 0%);
          width: 100%;
          height: 150%;
          object-fit: cover;
        }
      }
    }
    .autres_projets {
      width: 90%;
      h2 {
        font-size: 12vw;
        font-weight: 600;
        margin-bottom: 5vw;
        font-family: Base Neue;
        color: var(--black);
      }
      .suggestion {
        row-gap: 4vh;
        .suggestion_top,
        .suggestion_bottom {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          flex-direction: column;
          row-gap: 4vh;

          .container_miniatures {
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 40vw;
            border-radius: 3vw;
            overflow: hidden;
            border: 0.5vw solid transparent;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;

            .titre_minia {
              margin: 1vh 3vw;
              font-size: 9vw;
            }
          }
        }
      }
    }
    .information_supplementaire {
      .container_information_supplementaire {
        flex-direction: column;
        row-gap: 2vh;

        .setup,
        .video {
          height: 35vh;
          width: 100%;
          padding: 1vh 2vw 1vh 2vw;
          border-radius: 3vw;
        }
        .setup {
          h4 {
            font-size: 10vw;
          }
          .specialite {
            row-gap: 2vh;
            .spe {
              line-height: 0.7vh;

              h5 {
                font-size: 4vw;
                margin-bottom: 1.3vh;
              }
              p {
                font-size: 3vw;
                font-weight: 400;
                font-family: "Inter", sans-serif;
                color: var(--black);
                margin-bottom: 1.2vh;
              }
            }
          }
        }
        .video {
          h4 {
            font-size: 10vw;
          }
          a {
            width: 24vw;
          }
        }
      }
    }
  }
}
