.header_galerie {
  .burger {
    display: none;
  }
  .menu {
    li {
      position: relative;
      padding: 1vh 1vw;
      margin: 0vh 0.5vw;
      transition: 250ms ease-in-out;
      overflow: hidden;
      border-radius: 0.4vw;

      .links {
        text-decoration: none;
        color: var(--black);
        font-family: $font_sf;
        font-weight: 500;
        font-size: 1.1vw;
        transition: 0.2s ease-in-out;
        z-index: 3;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--black);
        transition: all 0.3s ease-in-out;
        z-index: -1;
      }

      &::before {
        height: 0;
      }

      &:hover::before {
        height: 100%;
      }

      &:hover {
        overflow: hidden;
      }
      &:hover .links {
        color: var(--primary-color);
      }
    }
    .li_contact {
      margin-right: 0;
      padding: calc(1vh - (3px)) 1vw;
      margin: 0vh 0.5vw;
      border-radius: 0.4vw;

      background-color: var(--primary-color);
      border: 3px solid var(--primary-color);

      #contact {
        color: var(--white);
        font-weight: bold;
      }
      &:hover #contact {
        background-color: transparent;
        color: var(--black);
      }
      &:hover {
        background-color: transparent;
        color: var(--black);
      }
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.menu_mobile_black {
  display: none;
}
//-----------------responsive------------------------------------------

@media screen and (max-width: 780px) {
  .header_galerie {
    .burger {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      row-gap: 2vh;
      width: 10vw;
      height: 5vh;
      transition: transform 0.5s ease-in-out, row-gap 0.5s ease-in-out;

      .line1,
      .line2 {
        width: 100%;
        height: 3px;
        background-color: var(--black);
        transition: 0.3s ease-in-out;
      }
      .line1 {
        width: 100%;
      }
      .line2 {
        width: 100%;
      }

      &:hover {
        transform: rotate(180deg);
      }
    }
    .burger_active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      row-gap: 0vh;
      width: 10vw;

      .line1,
      .line2 {
        width: 100%;
        height: 3px;
        background-color: var(--primary-color);
        transition: 0.3s ease-in-out;
      }
      .line1 {
        width: 100%;
        transform: rotate(45deg);
      }
      .line2 {
        width: 100%;
        transform: rotate(-45deg) translate(0.3vw, -0.2vh);
      }
    }
  }
  .menu_mobile_black {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, -100%);
    height: 100vh;
    width: 75%;
    z-index: 999999999;
    row-gap: 4vh;
    -webkit-transition: 0.5s ease-in-out;
    background-color: var(--black);
    transition: 0.5s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px -5px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px -5px 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20vh 0vw;
    transition: 0.5s cubic-bezier(0.72, 0.01, 0.35, 1.01);
    border-radius: 0 0 0 50vw;

    li {
      position: relative;
      padding: 1vh 2vw;
      margin: 0vh 0.5vw;
      transition: 250ms ease-in-out;
      overflow: hidden;
      border-radius: 1.5vw;

      &:hover .links {
        color: var(--black);
      }

      .links {
        text-decoration: none;
        color: var(--white);
        font-family: $font_sf;
        font-weight: 500;
        font-size: 4.5vw;
        transition: 0.2s ease-in-out;
        z-index: 3;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--white);
        transition: all 0.3s ease-in-out;
        z-index: -1;
      }

      &::before {
        height: 0;
      }

      &:hover::before {
        height: 100%;
      }

      &:hover {
        overflow: hidden;
      }
    }
    .li_contact {
      margin-right: 0;
      padding: calc(1vh - (3px)) 5vw;
      margin: 0vh 0.5vw;
      border-radius: 1.5vw;

      background-color: var(--white);
      border: 3px solid var(--white);

      #contact {
        color: var(--primary-color);
        font-weight: bold;
      }
      &:hover #contact {
        background-color: transparent;
        color: var(--white);
      }
      &:hover {
        background-color: transparent;
        color: var(--white);
      }
      &::before,
      &::after {
        display: none;
      }
    }
  }
  .menu_mobile_black_active {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    z-index: 999999999;
    border-radius: 0 0 0 0vw;
    flex-direction: column;
  }
}
