.photo_video_web_page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;

  .container_photo,
  .container_video {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .couverture {
      width: 40vw;
      height: 40vw;
      position: relative;
      overflow: hidden;
      border-radius: 1vw;

      border: 0.5vw solid transparent;
      transition: 0.5s ease-in-out;

      .couverture_titre {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 5vw;
        text-align: center;
        color: var(--primary-color);
        font-weight: bold;
        font-family: $font_base;

        -webkit-filter: drop-shadow(0px 2px 0.1vw rgba(0, 0, 0, 0.237));
        filter: drop-shadow(0px 0px 0.2vw rgba(0, 0, 0, 0.192));
        transition: color 0.5s ease-out, -webkit-text-stroke 0.5s ease-out;
        z-index: 2;
      }

      img {
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%) scale(1.1);
        transform-origin: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
        z-index: 0;
      }

      &:hover {
        border: 0.5vw solid var(--white);
      }
      &:hover .couverture_titre {
        color: var(--white);
      }
      &:hover img {
        opacity: 0.3;
        transform: translate(0%, 0%) scale(1);
      }
    }
  }
}

//-----------------responsive------------------------------------------

@media screen and (max-width: 1124px) {
  .photo_video_web_page {
    flex-direction: column;

    .container_photo,
    .container_video {
      width: 100%;
      height: 50%;

      .couverture {
        width: 90%;
        height: 80%;
        border-radius: 2vw;

        .couverture_titre {
          font-size: 9vw;
        }
      }
    }
    .container_photo {
      align-items: flex-end;
      padding-bottom: 1vh;
    }
    .container_video {
      align-items: flex-start;
      padding-top: 1vh;
    }
  }
}

//-----------------responsive------------------------------------------

@media screen and (max-width: 780px) {
  .photo_video_web_page {
    flex-direction: column;

    .container_photo,
    .container_video {
      width: 100%;
      height: 50%;

      .couverture {
        width: 90%;
        height: 80%;
        border-radius: 3vw;

        .couverture_titre {
          font-size: 15vw;
        }
      }
    }
    .container_photo {
      align-items: flex-end;
      padding-bottom: 1vh;
    }
    .container_video {
      align-items: flex-start;
      padding-top: 1vh;
    }
  }
}
