.transition_slide_enter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0%;
  left: 0%;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    scale(1);
  background-color: var(--green);
  border-radius: 0 0 0 0;
  z-index: 99999999999999999999999;
  transform-origin: bottom;
  -webkit-animation: transition_slide_enter 1s ease-in-out 1 forwards;
  animation: transition_slide_enter 1s ease-in-out 1 forwards;

  @-webkit-keyframes transition_slide_enter {
    0% {
      height: 100vh;
      background-color: var(--green);
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        scale(1);
    }
    100% {
      height: 100vh;
      background-color: var(--black);
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        scale(1);
    }
  }

  @keyframes transition_slide_enter {
    0% {
      height: 100vh;
      background-color: var(--green);
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        scale(1);
    }
    100% {
      height: 0vh;
      background-color: var(--black);
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        scale(1);
    }
  }
}

.presentation_site {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--green);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .bg_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: var(--white);
    -webkit-text-stroke: 0.5vw var(--white);
    font-family: $font_base;
    font-size: 35vw;
    letter-spacing: 1vw;
    z-index: 1;
  }
  .imac {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    perspective-origin: center;
    transform: translateX(-50%) translateY(-50%);
    width: 30vw;
    letter-spacing: 0vw;
    z-index: 2;
  }
}

.more_info {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  z-index: 0;
  box-shadow: 0px 0px 16px -2px #0000000a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  h1 {
    color: var(--green);
    font-family: $font_base;
    font-size: 10vw;
    z-index: 0;
  }

  .green_rect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    border-radius: 1vw;
    background-color: var(--green);
    z-index: 1;
  }
  .mockup_spiderman {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    z-index: 3;
  }
  .mockup_iphone_book {
    position: absolute;
    top: 150%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 10%;
    z-index: 3;
  }
  .mockup_ipad_soda {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 3;
  }
  .mockup_ipad_art {
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 3;
  }
  .falling {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 0vw;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    border-radius: 0vw;
    z-index: 3;
  }
  .custom_air_mobile {
    position: absolute;
    top: 150%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 20%;
    border-radius: 1vw;
    z-index: 3;
  }
  .imac_school2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    border-radius: 1vw;
    z-index: 3;
  }
  .description,
  .description_book,
  .description_soda,
  .description_art,
  .description_customAir,
  .description_school {
    position: absolute;
    top: 67%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;

    .more_info_titre {
      color: var(--white);
      font-family: $font_base;
      font-size: 6vw;
      margin-left: -15vw;
      opacity: 0;
    }
    .description_paragraphe {
      width: 100%;
      color: var(--white);
      font-family: $font_sf;
      font-size: 1.2vw;
      text-align: justify;
      margin-left: -15vw;
      opacity: 0;
    }
  }
  .description_book {
    top: 50%;
    left: 60%;
  }
  .description_soda {
    width: 40vw;
    top: 50%;
    left: 23%;
  }
  .description_art {
    width: 40vw;
    top: 50%;
    left: 25%;
  }
  .description_customAir {
    width: 40vw;
    top: 50%;
    left: 60%;
  }
  .description_school {
    width: 40vw;
    top: 50%;
    left: 25%;
  }
  .spiderman_illu {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .moon_illu {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    z-index: 2;
  }
  .canette_illu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .art_illu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .avion_illu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .white_circle_bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    border-radius: 1vw 1vw 0vw 0vw;
    background-color: var(--white);
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h2 {
      color: transparent;
      font-family: $font_base;
      font-weight: bold;
      -webkit-text-stroke: 0.1vw var(--black);
      font-size: 10vw;
      letter-spacing: 1vw;
      opacity: 0;
    }
  }
  .rect1 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 0%;
    background-color: var(--green);
    box-shadow: 0px 0px 25px -2px #00000076;
    z-index: 6;
  }
  .rect2 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 0%;
    background-color: var(--black);
    z-index: 7;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: transparent;
      font-family: $font_base;
      font-weight: bold;
      -webkit-text-stroke: 0.1vw var(--green);
      font-size: 10vw;
      letter-spacing: 1vw;
    }
  }
}

.bdd {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  z-index: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .container_illu {
    position: relative;
    width: 50%;
    height: 0%;
    overflow: hidden;
    border-radius: 2vw;
    z-index: 2;

    .title {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;

      .titre_bdd {
        width: 100%;
        text-align: center;
        color: var(--black);
        font-family: $font_base;
        font-size: 7vw;
        opacity: 0;
        z-index: 4;
      }
    }

    .frontground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--green);
      z-index: 2;
      opacity: 1;
    }
    .paragraphe_bdd {
      width: 80%;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: var(--black);
      background-color: var(--white);
      font-family: $font_sf;
      font-size: 1vw;
      border-radius: 1vw;
      padding: 1vh 1vw;
      opacity: 0;
      z-index: 4;
    }
    .imovix_catalogue {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110%;
      height: 110%;
      object-fit: cover;

      z-index: 1;
    }
  }
  .titre_bdd_bg {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--green);
    -webkit-text-stroke: 0.1vw var(--green);
    font-family: Base Neue;
    font-size: 10vw;
    z-index: 1;
  }
}

.bdd_more {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: var(--black);
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .bdd_text {
    max-width: 80%;
    color: var(--white);
    font-family: $font_sf;
    font-size: 1.5vw;
    text-align: center;
    font-style: italic;
  }
  .bdd_redirection {
    cursor: pointer;
    margin-top: 5vh;
    width: 20vw;
    height: 5vh;
    background-color: var(--green);
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: $font_base;
    text-decoration: none;
    font-size: 1.5vw;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0);
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: var(--black);
      color: var(--green);
      border: 0.1vw solid var(--green);
      box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.123);
    }
  }
}

.autres_sites {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: var(--black);
  z-index: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 1vh;
    background-color: var(--black);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--white);
  }

  .autres_sites_cards {
    cursor: pointer;
    width: 30vw;
    height: 17vw;
    background-color: var(--white);
    border-radius: 2vw;
    flex-shrink: 0;
    margin: 0 2vw;
    border: 0vw solid rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0);
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 41px -15px rgba(255, 255, 255, 0.29);
    }
  }
  .autres_sites_cards_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
  }
}
