@font-face {
  font-family: Base Neue;
  font-weight: 600;
  font-stretch: condensed;
  src: url(/font/base_neue/BaseNeue-CondensedSemiBold-BF63bb6cbca8f3b.ttf) format("truetype");
}
@font-face {
  font-family: SF Pro;
  font-style: normal;
  src: url("/font/sf_pro/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: SF Pro;
  font-style: italic;
  src: url("/font/sf_pro/SF-Pro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: SF Pro;
  font-weight: bold;
  src: url("/font/sf_pro/SF-Pro-Text-Bold.otf") format("otf");
}
@font-face {
  font-family: SF Pro;
  font-weight: 100;
  src: url("/font/sf_pro/SF-Pro-Text-Light.otf") format("otf");
}
@font-face {
  font-family: SF Pro;
  font-weight: 200;
  src: url("/font/sf_pro/SF-Pro-Text-Medium.otf") format("otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --green: #70e8cb;
  --green_transparent: rgba(112, 232, 203, 0.56);
  --white: #fcfcfc;
  --white_transparent: rgba(252, 252, 252, 0.33);
  --black: #232323;
}

[data-theme=dark] {
  --white: #232323;
  --black: #fcfcfc;
}

::-moz-selection {
  background-color: var(--green);
  color: #fcfcfc;
}

::selection {
  background-color: var(--green);
  color: #fcfcfc;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw;
  z-index: 999999;
  transition: 0.2s ease-in-out;
}
header .logo {
  width: 6vw;
}
header .logo_white {
  display: block;
}
header .logo_white_active {
  display: none;
}
header .logo_black {
  display: none;
}
header .logo_black_active {
  display: block;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin: 1vh 1.5vw;
  transition: 250ms ease-in-out;
}
header ul li:hover {
  transform: translateY(-3px);
}
header ul li .links {
  text-decoration: none;
  color: var(--white);
  font-family: SF Pro;
  font-weight: 300;
  font-size: 1.3vw;
  transition: 0.2s ease-in-out;
}
header ul li #contact {
  color: var(--green);
  padding: 0.5vh 2.5vw;
  background-color: var(--white);
  border-radius: 0.4vw;
  font-weight: bold;
  border: 3px solid transparent;
}
header ul li #contact:hover {
  background-color: transparent;
  color: var(--white);
  border: 3px solid var(--white);
}
header ul .li_contact {
  margin-right: 0;
}
header ul .li_contact:hover {
  transform: translateY(0px);
}

.header_active_visited {
  opacity: 0;
}

.home_footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  padding: 2vw 3vw;
  z-index: 999999999999;
  transition: 0.2s ease-in-out;
}
.home_footer .darkMode {
  position: relative;
  width: 3vw;
  height: 3vw;
  margin-bottom: 1vw;
  border-radius: 50%;
  background-color: var(--green);
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home_footer .darkMode .logo_darkmode {
  width: 60%;
}
.home_footer .darkMode .logo_darkmode .vector_darkMode {
  fill: var(--white);
  transition: 0.2s ease-in-out;
}
.home_footer .darkMode:hover {
  background-color: var(--white);
  border: 2px solid var(--green);
}
.home_footer .darkMode:hover .vector_darkMode {
  fill: var(--green);
}
.home_footer .darkMode_active {
  background-color: var(--green);
}
.home_footer .darkMode_active .vector_darkMode {
  fill: var(--green);
}
.home_footer .logo_dark_modeOn {
  width: 60%;
  display: none;
  z-index: 2;
}
.home_footer .logo_dark_modeOn_active {
  display: block;
}
.home_footer .logo_dark_modeOff {
  width: 60%;
  display: block;
  z-index: 1;
}
.home_footer .logo_dark_modeOff_active {
  display: none;
}
.home_footer .rth {
  width: 3vw;
  height: 3vw;
  margin-bottom: 1vw;
  border-radius: 50%;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home_footer .rth svg {
  width: 50%;
}
.home_footer .rth svg path {
  fill: var(--white);
  transition: 0.2s ease-in-out;
}
.home_footer .rth:hover {
  background-color: var(--white);
  border: 2px solid var(--green);
}
.home_footer .rth:hover path {
  fill: var(--green);
}
.home_footer .change_color_btn {
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  margin-bottom: 1vw;
  border: 2px solid var(--green);
  border-radius: 50%;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.2s ease-in-out;
}
.home_footer .change_color_btn svg {
  width: 60%;
  transition: 0.2s ease-in-out;
}
.home_footer .change_color_btn svg path {
  fill: var(--white);
  transition: 0.2s ease-in-out;
}
.home_footer .change_color_btn:hover {
  background-color: var(--white);
  border: 2px solid var(--green);
}
.home_footer .change_color_btn:hover path {
  fill: var(--green);
}
.home_footer p {
  color: var(--white);
  font-family: SF Pro;
  font-weight: 100;
  font-size: 1.3vw;
  margin-left: 2vw;
}

.home_footer_active_visited {
  opacity: 0;
}

.container_colors {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.container_colors .bg_colors {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.302);
  z-index: 1;
  transition: 0.2s ease-in-out;
}
.container_colors .choix_couleurs {
  background-color: var(--white);
  width: 60vw;
  height: 30vw;
  border-radius: 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vw;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 2;
}
.container_colors .choix_couleurs .colors {
  position: relative;
  cursor: pointer;
  width: 9vw;
  height: 9vw;
  border: none;
  border-radius: 1vw;
  margin: 2vw;
}
.container_colors .choix_couleurs .colors::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0vw;
  height: 0vw;
  border-radius: 0.5vw;
  background-color: var(--white);
  z-index: 2;
  transition: 0.2s ease-in-out;
  z-index: 2;
}
.container_colors .choix_couleurs .colors:hover::before {
  width: 8vw;
  height: 8vw;
}
.container_colors .choix_couleurs .colors::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0vw;
  height: 0vw;
  border-radius: 0.5vw;
  background-color: var(--green);
  z-index: 2;
  transition: 0.4s cubic-bezier(0.56, 0, 0.3, 1.52);
  z-index: 3;
}
.container_colors .choix_couleurs .colors:hover::after {
  width: 7vw;
  height: 7vw;
}
.container_colors .choix_couleurs .vert {
  background-color: #98f5e1;
}
.container_colors .choix_couleurs .bleu {
  background-color: #a0c4ff;
}
.container_colors .choix_couleurs .violet {
  background-color: #bdb2ff;
}
.container_colors .choix_couleurs .orange {
  background-color: #ffd6a5;
}
.container_colors .choix_couleurs .rose {
  background-color: #ffc6ff;
}
.container_colors .choix_couleurs .jaune {
  background-color: #ffd97d;
}
.container_colors .choix_couleurs .turquoise {
  background-color: #9bf6ff;
}
.container_colors .choix_couleurs .rouge {
  background-color: #ffadad;
}

.container_colors_active {
  pointer-events: all;
  opacity: 1;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  transition: 0.5s ease-in-out;
}
.loader .loader_logo {
  pointer-events: none;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 10vw;
}
.loader .spinner {
  width: 11.2px;
  height: 11.2px;
  -webkit-animation: spinner-o824ag 1.4s infinite linear;
          animation: spinner-o824ag 1.4s infinite linear;
}
.loader .spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fcfcfc;
  border-radius: 50%;
  -webkit-animation: spinner-vse6n7 1.75s infinite ease;
          animation: spinner-vse6n7 1.75s infinite ease;
}
.loader .spinner div:nth-child(1) {
  --rotation: 90;
}
.loader .spinner div:nth-child(2) {
  --rotation: 180;
}
.loader .spinner div:nth-child(3) {
  --rotation: 270;
}
.loader .spinner div:nth-child(4) {
  --rotation: 360;
}
@-webkit-keyframes spinner-vse6n7 {
  0%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }
  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}
@keyframes spinner-vse6n7 {
  0%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }
  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}
@-webkit-keyframes spinner-o824ag {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner-o824ag {
  to {
    transform: rotate(360deg);
  }
}

.loader_finish {
  -webkit-animation: loader 1s cubic-bezier(0.82, 0.02, 0.26, 1.01) forwards 1;
          animation: loader 1s cubic-bezier(0.82, 0.02, 0.26, 1.01) forwards 1;
}
@-webkit-keyframes loader {
  0% {
    transform: translate(-50%, -50%);
    display: block;
  }
  95% {
    transform: translate(-50%, -150%);
    display: block;
  }
  100% {
    transform: translate(-50%, -150%);
    display: none;
  }
}
@keyframes loader {
  0% {
    transform: translate(-50%, -50%);
    display: block;
  }
  95% {
    transform: translate(-50%, -150%);
    display: block;
  }
  100% {
    transform: translate(-50%, -150%);
    display: none;
  }
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.home .title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.home .title .title_name_front {
  pointer-events: none;
  text-align: center;
  font-family: Base Neue;
  font-weight: 600;
  font-size: 17vw;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(353deg);
  width: 100vw;
  height: 100%;
  color: transparent;
  -webkit-text-stroke: 3px var(--white);
  z-index: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.home .title .title_name_back {
  pointer-events: none;
  text-align: center;
  font-family: Base Neue;
  font-weight: 600;
  font-size: 17vw;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(353deg);
  width: 100vw;
  height: 100%;
  color: var(--white);
  -webkit-text-stroke: 3px var(--white);
  z-index: -2;
  opacity: 0;
  transition: 0.3s ease-out;
}
.home .title .title_name_front_active,
.home .title .title_name_back_active {
  opacity: 1;
}
.home .title .title_dev_web_front,
.home .title .title_photo_video_front {
  pointer-events: none;
  text-align: center;
  font-family: Base Neue;
  font-weight: 600;
  font-size: 17vw;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 100vw;
  height: 100%;
  color: transparent;
  -webkit-text-stroke: 3px var(--green);
  z-index: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.home .title .title_dev_web_back,
.home .title .title_photo_video_back {
  pointer-events: none;
  text-align: center;
  font-family: Base Neue;
  font-weight: 600;
  font-size: 17vw;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 100vw;
  height: 100%;
  color: var(--green);
  -webkit-text-stroke: 3px var(--green);
  z-index: -2;
  opacity: 0;
  transition: 0.5s ease-out;
}
.home .title .title_dev_web_front_active,
.home .title .title_photo_video_front_active,
.home .title .title_dev_web_back_active,
.home .title .title_photo_video_back_active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.home .title .me {
  width: 35vw;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.2s ease-out;
}
.home .title .title_portfolio {
  pointer-events: none;
  font-family: Base Neue;
  font-weight: 600;
  letter-spacing: -0.3vw;
  font-size: 18vw;
  color: var(--white_transparent);
  text-align: center;
  margin: 0 0 2vh 0;
  -webkit-text-stroke: 3px var(--white);
  line-height: 20vh;
  margin-top: 10vh;
  transition: 0.3s ease-out;
}
.home .title .title_portfolio_active {
  opacity: 0;
}
.home .title .title_small {
  width: 100%;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-family: SF Pro;
  font-weight: 600;
  font-size: 2.5vw;
  color: var(--white);
  text-align: center;
  margin: 0 0 2vh 0;
  font-style: normal;
  letter-spacing: 0.5vw;
  filter: drop-shadow(0px 2px 0.1vw rgba(0, 0, 0, 0.237));
  transition: 0.5s ease-in-out;
}
.home .title .title_small2 {
  width: 100%;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-5vh);
  pointer-events: none;
  font-family: SF Pro;
  font-weight: 600;
  font-size: 2.5vw;
  color: var(--white);
  text-align: center;
  margin: 0 0 2vh 0;
  font-style: normal;
  letter-spacing: 0.5vw;
  filter: drop-shadow(0px 2px 0.1vw rgba(0, 0, 0, 0.237));
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.home .title .title_small_active {
  opacity: 0;
  transform: translate(-50%, -50%) translateY(5vh);
}
.home .title .title_small2_active {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0vh);
}
.home .title .interaction {
  position: absolute;
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.home .title .interaction a {
  color: var(--green);
  background-color: var(--white);
  width: 20vw;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1vw;
  font-family: SF Pro;
  margin: 1vh 1vw;
  padding: 1.5vh 1vw;
  border-radius: 0.5vw;
  border: 3px solid transparent;
  transition: 0.2s ease-in-out;
}
.home .title .interaction a:hover {
  background-color: var(--white_transparent);
  color: var(--white);
  border: 3px solid var(--white);
  font-weight: bold;
}
.home .home_side_left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 2vw 3vw;
}
.home .home_side_left .social {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}
.home .home_side_left .social img {
  width: 0.9vw;
  margin-top: 2vw;
  pointer-events: none;
}
.home .home_side_left .social .social_img_white {
  display: block;
}
.home .home_side_left .social .social_img_white_active {
  display: none;
}
.home .home_side_left .social .social_img_black {
  display: none;
}
.home .home_side_left .social .social_img_black_active {
  display: block;
}
.home .home_side_left .social span {
  margin-left: 2px;
  height: 45%;
  width: 2px;
  background-color: var(--white);
}
.home .home_side_left a {
  color: var(--white);
  font-family: SF Pro;
  font-weight: 100;
  font-size: 1.3vw;
}
.home .home_side_left p {
  color: var(--white);
  font-family: SF Pro;
  font-weight: 100;
  font-size: 1.3vw;
  margin-left: 2vw;
}
.home .home_side_left .reseau {
  margin-left: 1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.home .home_side_left .reseau a {
  margin-top: 2vh;
  width: 2vw;
  height: 2vw;
  background-color: var(--white);
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  transition: 0.2s ease-in-out;
}
.home .home_side_left .reseau a:hover {
  background-color: var(--green);
  border: 3px solid var(--white);
}
.home .home_side_left .reseau a:hover svg path {
  fill: var(--white);
}
.home .home_side_left .reseau a svg {
  width: 80%;
  transition: 0.2s ease-in-out;
}
.home .home_side_left .reseau a svg path {
  fill: var(--green);
  transition: 0.2s ease-in-out;
}
.home .home_side_right {
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: right;
  letter-spacing: 0.5vw;
  align-items: center;
  padding: 2vw 3vw;
}
.home .home_side_right p {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  color: var(--white);
  font-family: SF Pro;
  font-weight: 400;
  font-size: 1.3vw;
  margin-left: 2vw;
}
.home .home_arrow {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1vw;
  height: 1vw;
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  transform: rotate(45deg);
  z-index: 10;
}

.home_active {
  background-color: #232323;
}

.works {
  position: relative;
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--white);
}
.works h1 {
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  font-size: 10vw;
  color: var(--green);
  font-weight: bold;
  font-family: SF Pro;
  line-height: 15vh;
}
.works h1 span {
  color: transparent;
  -webkit-text-stroke: 3px var(--green);
}
.works h2 {
  font-family: SF Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5vw;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.235em;
  margin-top: 2vh;
}
.works .green_circle {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  background-color: var(--green);
  border-radius: 10000px;
  z-index: 0;
}
.works .white_circle {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.5vw;
  height: 10.5vw;
  background-color: var(--white);
  border-radius: 10000px;
  z-index: 1;
}
.works .green_circle2 {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  background-color: var(--green);
  border-radius: 10000px;
  z-index: 2;
}
.works .white_circle2 {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  background-color: var(--white);
  border-radius: 10000px;
  z-index: 3;
}
.works .iphone {
  position: absolute;
  width: 20vw;
}
.works .iphone1 {
  top: 90%;
  left: 70%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(305deg);
  z-index: 6;
}
.works .iphone2 {
  top: 90%;
  left: 70%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(305deg);
  z-index: 6;
}
.works .iphone3 {
  top: 90%;
  left: 70%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(305deg);
  z-index: 6;
}
.works .right_text_absolute {
  height: 130%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18vw;
  position: absolute;
  top: 90%;
  right: -10vw;
  transform: translate(-50%, -50%);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-lr;
  z-index: 5;
  font-family: Base Neue;
  color: var(--green);
  letter-spacing: 2vh;
  -webkit-text-stroke: 3px var(--white);
  z-index: 5;
}
.works .h3_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18vw;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-family: Base Neue;
  color: var(--white);
  letter-spacing: 2vh;
  z-index: 10;
}

.soda {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow: hidden;
}
.soda .first_translate,
.soda .last_translate {
  width: 220%;
  position: absolute;
  color: var(--green);
  font-family: Base Neue;
  font-size: 10vw;
  z-index: 11;
}
.soda .first_translate span,
.soda .last_translate span {
  color: var(--white);
  -webkit-text-stroke: 3px var(--green);
}
.soda .first_translate {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
}
.soda .last_translate {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
  z-index: 13;
}
.soda .imac_soda {
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center;
  width: 60vw;
  z-index: 12;
}
.soda .imac_soda_active {
  opacity: 0;
}
.soda .imac_soda_black {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center;
  width: 60vw;
  z-index: 12;
}
.soda .imac_soda_black_active {
  opacity: 1;
}

.concept {
  position: relative;
  padding-top: 3vh;
  position: relative;
  width: 100%;
  height: 300vh;
  background: linear-gradient(to top, var(--green), var(--white));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.concept h1 {
  font-size: 15vw;
  font-weight: bold;
  color: var(--green);
  font-family: Base Neue;
  line-height: 20vh;
  text-align: center;
}
.concept h1 span {
  color: var(--white);
  -webkit-text-stroke: 3px var(--green);
}
.concept .ipad_imovix {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  z-index: 7;
}
.concept .ipad_spiderman {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  z-index: 5;
}
.concept .ipad_myList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  z-index: 3;
}
.concept .ipad_log {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  z-index: 1;
}
.concept .whiteRectangle {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: var(--white);
  transform: scale(0);
  border-radius: 200px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.concept .whiteRectangle .titre_skills {
  width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0vw;
  font-weight: bold;
  color: var(--green);
  font-family: Base Neue;
  line-height: 20vh;
  text-align: center;
  opacity: 1;
  z-index: 2;
}
.concept .whiteRectangle .bg_titre_skills {
  width: 200%;
  text-align: center;
  font-size: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Base Neue;
  transform: translate(-50%, -50%);
  color: transparent;
  -webkit-text-stroke: 3px var(--green);
  opacity: 0;
  z-index: 1;
}

.skills {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow: hidden;
}
.skills h1 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-weight: bold;
  color: var(--green);
  font-family: Base Neue;
  opacity: 0;
  z-index: 2;
}
.skills h2 {
  width: 400%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  font-size: 30vw;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 3px var(--green);
  font-family: Base Neue;
  z-index: 1;
  opacity: 0;
}

.transition_green {
  position: relative;
  width: 100%;
  height: 20vw;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}
.transition_green .transition_circle {
  width: 100vw;
  height: 40vw;
  text-align: center;
  border-radius: 0%;
  background-color: var(--green);
  z-index: 10;
}

.see_more {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow: hidden;
}
.see_more .stroke_green_circle1 {
  cursor: pointer;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: var(--green);
  border: 4px solid var(--white);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: Base Neue;
  font-size: 4vw;
  padding-top: 1vh;
  opacity: 0;
}
.see_more .stroke_green_circle2 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 4px solid var(--green);
  z-index: 3;
  opacity: 0;
}
.see_more .stroke_green_circle3 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 4px solid var(--green);
  z-index: 2;
  opacity: 0;
}
.see_more .stroke_green_circle4 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 4px solid var(--green);
  z-index: 1;
  opacity: 0;
}
.see_more .transition_title {
  width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14vw;
  font-weight: bold;
  color: var(--green);
  font-family: Base Neue;
  line-height: 20vh;
  text-align: center;
  z-index: 0;
  line-height: 35vh;
  letter-spacing: 5vw;
  opacity: 0;
}

.photoVideoTop {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  overflow: hidden;
}
.photoVideoTop .photoVideoTop__title {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 20vw;
  color: var(--green);
  -webkit-text-stroke: 3px var(--green);
  font-weight: bold;
  font-family: Base Neue;
  line-height: 15vh;
  opacity: 0;
  z-index: 0;
}
.photoVideoTop .photoVideoTop__title_front {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 20vw;
  color: var(--green);
  -webkit-text-stroke: 3px var(--green);
  font-weight: bold;
  font-family: Base Neue;
  line-height: 15vh;
  opacity: 0;
  z-index: 2;
}
.photoVideoTop .container_photoVideoTop_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 30%;
  background-color: var(--green);
  border-radius: 1vw;
  overflow: hidden;
  z-index: 1;
}
.photoVideoTop .container_photoVideoTop_img .photoVideoTop_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed {
  position: relative;
  width: 100%;
  height: 295vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.feed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--white));
  z-index: 10;
}
.feed .container_feed_col {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 130%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed .container_feed_col .col {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feed .container_feed_col .col .container_img {
  position: relative;
  width: 22vw;
  height: 31vw;
  border-radius: 1.5vw;
  overflow: hidden;
  margin-bottom: 3vw;
}
.feed .container_feed_col .col .container_img .miniatures {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 150%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feed .container_feed_col .container_travel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.feed .container_feed_col .container_travel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--green);
}
.feed .container_feed_col .container_travel .travel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 8;
  z-index: 10;
}
.feed .container_feed_col .container_travel h1 {
  font-size: 20vw;
  font-weight: bold;
  font-family: Base Neue;
  color: var(--green);
  margin: 0 3vw;
  z-index: 11;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.306));
}
.feed .container_feed_col .container_travel .travel_middle {
  transform: translateY(-50vh);
}
.feed .container_feed_col .container_travel .travel_second {
  transform: translateY(-30vh);
}
.feed .container_feed_col .container_travel .travel_side {
  transform: translateY(-10vh);
}
.feed .container_feed_col .container_travel .travel1 {
  background: url(/img/photo_video/travel1.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feed .container_feed_col .container_travel .travel2 {
  background: url(/img/photo_video/travel2.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feed .container_feed_col .container_travel .travel3 {
  background: url(/img/photo_video/travel3.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feed .container_feed_col .container_travel .travel4 {
  background: url(/img/photo_video/travel4.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feed .container_feed_col .container_travel .travel5 {
  background: url(/img/photo_video/travel5.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feed .container_feed_col .container_travel .travel6 {
  background: url(/img/photo_video/travel6.png) no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.see_more_album {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  overflow: hidden;
}
.see_more_album .album_stroke_green_circle1 {
  cursor: pointer;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: var(--green);
  border: 4px solid var(--white);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: Base Neue;
  font-size: 4vw;
  padding-top: 1vh;
  opacity: 0;
}
.see_more_album .album_stroke_green_circle2 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 4px solid var(--green);
  z-index: 3;
  opacity: 0;
}
.see_more_album .album_stroke_green_circle3 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 4px solid var(--green);
  z-index: 2;
  opacity: 0;
}
.see_more_album .album_stroke_green_circle4 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 4px solid var(--green);
  z-index: 1;
  opacity: 0;
}
.see_more_album .album_transition_title {
  width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14vw;
  font-weight: bold;
  color: var(--green);
  font-family: Base Neue;
  line-height: 20vh;
  text-align: center;
  z-index: 0;
  line-height: 35vh;
  letter-spacing: 5vw;
  opacity: 0;
}

.contact {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h1 {
  font-size: 6vw;
  font-weight: bold;
  font-family: Base Neue;
  color: var(--white);
  margin: 0 3vw;
  z-index: 11;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.132));
}
.contact .lien_contact {
  width: 25vw;
  margin-top: 10vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
  font-weight: bold;
  text-decoration: none;
  color: var(--green);
  font-family: SF Pro;
}

.developpement_web_page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.developpement_web_page .myProject {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 2vw 3vw;
}
.developpement_web_page .myProject img {
  width: 0.9vw;
  margin-top: 2vw;
  pointer-events: none;
}
.developpement_web_page .myProject .myProject_img_white {
  display: block;
}
.developpement_web_page .myProject .myProject_img_white_active {
  display: none;
}
.developpement_web_page .myProject .myProject_img_black {
  display: none;
}
.developpement_web_page .myProject .myProject_img_black_active {
  display: block;
}
.developpement_web_page .myProject span {
  margin-left: 2px;
  height: 45%;
  width: 2px;
  background-color: var(--white);
}
.developpement_web_page .home_side_right {
  pointer-events: none;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: right;
  letter-spacing: 0.5vw;
  align-items: center;
  padding: 2vw 3vw;
}
.developpement_web_page .home_side_right p {
  height: 14vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  color: var(--white);
  font-family: SF Pro;
  font-weight: 400;
  font-size: 1.3vw;
}
.developpement_web_page .home_side_right p .pages_number {
  background-color: var(--white);
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-top: 0.7vh;
  z-index: 2;
}
.developpement_web_page .home_side_right p .pages_number_next {
  position: absolute;
  top: 0;
  left: 400%;
  opacity: 0;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .home_side_right p .pages_number_center {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .home_side_right p .pages_number_prev {
  position: absolute;
  top: 0;
  left: -400%;
  opacity: 0;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .container_title {
  width: 100%;
  height: 25vh;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.developpement_web_page .container_title .title_next {
  position: absolute;
  top: 100%;
  left: 130%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(44deg) rotateZ(35deg) scale(0.7);
  font-size: 18vw;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  font-family: Base Neue;
  letter-spacing: 0.2vw;
  opacity: 0;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .container_title .title_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: perspective(1000px) translate(-50%, -50%) scale(1);
  font-size: 18vw;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  font-family: Base Neue;
  letter-spacing: 0.2vw;
  opacity: 1;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .container_title .title_prev {
  position: absolute;
  top: 100%;
  left: -30%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(46deg) rotateZ(327deg) scale(0.7);
  font-size: 18vw;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  font-family: Base Neue;
  letter-spacing: 0.2vw;
  opacity: 0;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .carrousel_title_stroke_next {
  position: absolute;
  top: 50%;
  left: 150%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(13deg) rotateY(56deg) rotateZ(-60deg) scale(0.2);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1.5s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .carrousel_title_stroke_next .container_slider_anim {
  width: auto;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: perspective(1000px) translate(0%, -50%) rotateX(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  z-index: 0;
  display: flex;
  align-items: center;
  -webkit-animation: slider_center 20s linear infinite;
          animation: slider_center 20s linear infinite;
}
@-webkit-keyframes slider_center {
  from {
    transform: translate(0%, -50%) translateX(0%);
  }
  to {
    transform: translate(0%, -50%) translateX(-25%);
  }
}
@keyframes slider_center {
  from {
    transform: translate(0%, -50%) translateX(0%);
  }
  to {
    transform: translate(0%, -50%) translateX(-25%);
  }
}
.developpement_web_page .carrousel_title_stroke_next .container_slider_anim .slider {
  font-size: 25vw;
  color: transparent;
  -webkit-text-stroke: 3px var(--white);
  font-family: Base Neue;
}
.developpement_web_page .carrousel_title_stroke_center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) scale(1);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: 1.5s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .carrousel_title_stroke_center .container_slider_anim {
  width: auto;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: perspective(1000px) translate(0%, -50%) rotateX(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  z-index: 0;
  display: flex;
  align-items: center;
  -webkit-animation: slider_center 20s linear infinite;
          animation: slider_center 20s linear infinite;
}
@keyframes slider_center {
  from {
    transform: translate(0%, -50%) translateX(0%);
  }
  to {
    transform: translate(0%, -50%) translateX(-25%);
  }
}
.developpement_web_page .carrousel_title_stroke_center .container_slider_anim .slider {
  font-size: 25vw;
  color: transparent;
  -webkit-text-stroke: 3px var(--white);
  font-family: Base Neue;
}
.developpement_web_page .carrousel_title_stroke_prev {
  position: absolute;
  top: 50%;
  left: -150%;
  transform: perspective(1000px) translate(-50%, -50%) rotateX(-13deg) rotateY(-56deg) rotateZ(60deg) scale(0.2);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1.5s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .carrousel_title_stroke_prev .container_slider_anim {
  width: auto;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: perspective(1000px) translate(0%, -50%) rotateX(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  z-index: 0;
  display: flex;
  align-items: center;
  -webkit-animation: slider_center 20s linear infinite;
          animation: slider_center 20s linear infinite;
}
@keyframes slider_center {
  from {
    transform: translate(0%, -50%) translateX(0%);
  }
  to {
    transform: translate(0%, -50%) translateX(-25%);
  }
}
.developpement_web_page .carrousel_title_stroke_prev .container_slider_anim .slider {
  font-size: 25vw;
  color: transparent;
  -webkit-text-stroke: 3px var(--white);
  font-family: Base Neue;
}
.developpement_web_page .imac_next {
  position: absolute;
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(21deg) rotateY(-50deg) rotateX(-50deg) scale(0.6);
  top: 73%;
  left: 115%;
  width: 35vw;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
  z-index: 2;
}
.developpement_web_page .imac_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(0deg) rotateY(0deg) scale(1);
  width: 35vw;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
  z-index: 2;
}
.developpement_web_page .imac_center:hover {
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(-4deg) rotateY(-6deg) scale(1.1);
}
.developpement_web_page .imac_prev {
  position: absolute;
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(-60deg) rotateY(45deg) scale(0.6);
  top: 73%;
  left: -15%;
  width: 35vw;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
  z-index: 2;
}
.developpement_web_page .imac_center_active {
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(0deg) rotateY(0deg) scale(3.5);
  top: 71%;
}
.developpement_web_page .imac_center_active:hover {
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(0deg) rotateY(0deg) scale(3.5);
}
.developpement_web_page .description {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 2vh;
}
.developpement_web_page .description .techno_next {
  position: absolute;
  bottom: -250%;
  left: 21%;
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(21deg) rotateY(-50deg) rotateX(-50deg) scale(0.6);
  font-size: 1.1vw;
  font-weight: 200;
  color: var(--white);
  text-align: center;
  font-family: SF Pro;
  letter-spacing: 0vw;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .description .techno_next span {
  font-weight: 400;
}
.developpement_web_page .description .techno_center {
  position: absolute;
  bottom: 0%;
  left: 4%;
  transform: translate(0%, 0%);
  font-size: 1.1vw;
  font-weight: 200;
  color: var(--white);
  text-align: center;
  font-family: SF Pro;
  letter-spacing: 0vw;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .description .techno_center span {
  font-weight: 400;
}
.developpement_web_page .description .techno_prev {
  position: absolute;
  bottom: 0%;
  left: -21%;
  transform: perspective(1000px) translate(-50%, -50%) rotateZ(21deg) rotateY(-50deg) rotateX(-50deg) scale(0.6);
  font-size: 1.1vw;
  font-weight: 200;
  color: var(--white);
  text-align: center;
  font-family: SF Pro;
  letter-spacing: 0vw;
  transition: 1s cubic-bezier(0.81, -0.01, 0.34, 0.99);
}
.developpement_web_page .description .techno_prev span {
  font-weight: 400;
}
.developpement_web_page .description .interaction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.developpement_web_page .description .interaction button {
  cursor: pointer;
  width: 15vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.6vw;
  font-size: 1vw;
  font-weight: 600;
  background-color: var(--white);
  color: var(--green);
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px;
}
.developpement_web_page .description .interaction button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: var(--white);
  color: var(--green);
}
.developpement_web_page .description .interaction .prev,
.developpement_web_page .description .interaction .next {
  border: 0.2vw solid var(--white);
  background-color: var(--green);
  color: var(--white);
}
.developpement_web_page .description .interaction .prev:hover,
.developpement_web_page .description .interaction .next:hover {
  background-color: var(--white);
  color: var(--green);
}
.developpement_web_page .description .interaction .prev:disabled,
.developpement_web_page .description .interaction .next:disabled {
  background-color: var(--green);
  color: var(--white);
  cursor: not-allowed;
}
.developpement_web_page .description .presentation_site {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 5vh;
  text-align: center;
}
.developpement_web_page .description .presentation_site .is-splited {
  color: var(--white);
  font-family: SF Pro;
  font-size: 1.5vw;
}

footer {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .info .reseaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer .info .reseaux h2 {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Base Neue;
  color: var(--white);
  margin-bottom: 2vh;
}
footer .info .reseaux .logo_reseaux {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .info .reseaux .logo_reseaux a {
  margin-right: 1vw;
  width: 2vw;
  height: 2vw;
  background-color: var(--white);
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
footer .info .reseaux .logo_reseaux a:hover {
  background-color: var(--black);
  border: 3px solid var(--white);
}
footer .info .reseaux .logo_reseaux a:hover svg path {
  fill: var(--white);
}
footer .info .reseaux .logo_reseaux a svg {
  width: 80%;
  transition: 0.2s ease-in-out;
}
footer .info .reseaux .logo_reseaux a svg path {
  fill: var(--black);
  transition: 0.2s ease-in-out;
}
footer .info .site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer .info .site h2 {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Base Neue;
  color: var(--white);
  margin-bottom: 2vh;
}
footer .info .site a {
  font-size: 1vw;
  font-family: SF Pro;
  letter-spacing: 0.1vw;
  text-decoration: none;
  color: var(--white);
}
footer .info .photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer .info .photo h2 {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Base Neue;
  color: var(--white);
  margin-bottom: 2vh;
}
footer .info .photo a {
  font-size: 1vw;
  font-family: SF Pro;
  letter-spacing: 0.1vw;
  text-decoration: none;
  color: var(--white);
}
footer .copyright {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
footer .copyright p {
  font-size: 1vw;
  font-family: SF Pro;
  letter-spacing: 0.2vw;
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
}/*# sourceMappingURL=styles.css.map */